- @reserved_lockers.each do |locker|
  %p
    = locker.number
    = locker.size

    = link_to 'Release Locker', reserved_locker_path(locker), method: :delete, data: { confirm: 'Are you sure?' }

.menu
  = render 'reserved_lockers/menu'